<div class="actions-page-btn">
    <app-button
            [label]="'🏠'"
            [url]="'/admin'"
            [classBtn]="'btn-success'"
            [tooltip]="'Retour à l\'accueil'"
    ></app-button>
</div>

<div class="screen-center">
    @if (formSent && !requestError) {
        <div class="card text-bg-success">
            <div class="card-body">
                <h5 class="card-title">✅ Succès</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Ton mot de passe a bien été changé !</h6>

                <app-button
                        [label]="'Retour à l\'accueil'"
                        [url]="'/admin'"
                        [classBtn]="'btn-light'"
                ></app-button>
            </div>
        </div>
    } @else {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">🔑 Mot de passe</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Modification du mot de passe</h6>

                <div class="pb-2">
                    <app-input-text
                            [label]="'Mot de passe actuel'"
                            [placeholder]="'Entre ton mot de passe'"
                            [isPassword]="true"
                            [text]="currentPassword"
                            [inputErrors]="currentPasswordErrors"
                            [formSent]="formSent"
                            (textChange)="currentPassword = $event"
                    ></app-input-text>

                    <app-input-text
                            [label]="'Nouveau mot de passe'"
                            [placeholder]="'Entre le nouveau mot de passe'"
                            [isPassword]="true"
                            [text]="newPassword"
                            [inputErrors]="newPasswordErrors"
                            [formSent]="formSent"
                            (textChange)="newPassword = $event"
                    ></app-input-text>

                    <app-input-text
                            [label]="'Confirmation du nouveau mot de passe'"
                            [placeholder]="'Entre a nouveau le mot de passe'"
                            [isPassword]="true"
                            [text]="confirmPassword"
                            [inputErrors]="confirmPasswordErrors"
                            [formSent]="formSent"
                            (textChange)="confirmPassword = $event"
                    ></app-input-text>
                </div>

                <app-button
                        [label]="'Changer le mot de passe'"
                        [classBtn]="'btn-primary'"
                        [loading]="loading"
                        (onClick)="sendRequest()"
                ></app-button>
            </div>
        </div>

        @if (requestError) {
            <div class="pt-2">
                <div class="card text-bg-danger">
                    <div class="card-body">
                        <h5 class="card-title">⚠️ Erreur</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ requestError }}</h6>
                    </div>
                </div>
            </div>
        }
    }
</div>