<div class="actions-page-btn">
    <app-button
            [label]="'💾'"
            [tooltip]="'Sauvegarder le projet'"
            [classBtn]="'btn-primary'"
            [loading]="saving"
            (onClick)="saveProject()"
    ></app-button>

    <app-button
            [label]="'🏠'"
            [url]="'/admin'"
            [classBtn]="'btn-success'"
            [tooltip]="'Retour à l\'accueil'"
    ></app-button>
</div>

@if (projectsService.loadedProject) {
    <app-modules-manager></app-modules-manager>

    <div class="ps-5 p-3">
        <h1>Définition du projet</h1>

        <app-project-title></app-project-title>
        <div class="row g-3">
            <div class="col-md-6">
                <app-project-description></app-project-description>
            </div>
            <div class="col-md-6">
                <app-project-cover-image></app-project-cover-image>
            </div>
        </div>

        <hr>

        <h1>Modules</h1>

        <div class="modules-div">
            @if (projectsService.modules.length === 0) {
                <div class="no-modules-container">
                    <p>Pas de modules ! 👋</p>
                    <p>Ajoute un module avec le bouton 📂 a gauche de ton écran ou avec la touche ECHAP.</p>
                    <p>N'oublie pas de sauvegarder en cliquant sur 💾 en haut à droite ou avec CTRL ou CMD + S</p>
                </div>
            } @else {
                <div class="modules-list d-flex flex-column gap-3" cdkDropList (cdkDropListDropped)="drop($event)">
                    @for (module of projectsService.modules; track module) {
                        <div class="card module" cdkDrag>
                            @switch (module.getType()) {
                                @case("ImageAndImageModule") {
                                    <app-admin-image-and-image-module [moduleId]="module.getId()"></app-admin-image-and-image-module>
                                }
                                @case("ImageAndTextModule") {
                                    <app-admin-image-and-text-module [moduleId]="module.getId()"></app-admin-image-and-text-module>
                                }
                                @case ("TextAndImageModule") {
                                    <app-admin-text-and-image-module [moduleId]="module.getId()"></app-admin-text-and-image-module>
                                }
                                @case ("TextProjectModule") {
                                    <app-admin-text-module [moduleId]="module.getId()"></app-admin-text-module>
                                }
                                @case ("VideoModule") {
                                    <app-admin-video-module [moduleId]="module.getId()"></app-admin-video-module>
                                }
                                @case ("ImageModule") {
                                    <app-admin-image-module [moduleId]="module.getId()"></app-admin-image-module>
                                }
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
} @else {
    <app-loader></app-loader>
}
