


<div class="modules-list" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (module of projectsService.modules; track module) {
        <div class="card module" cdkDrag>
            @switch (module.getType()) {
                @case("ImageAndImageModule") {
                    <app-admin-image-and-image-module [moduleId]="module.getId()"></app-admin-image-and-image-module>
                }
                @case("ImageAndTextModule") {
                    <app-admin-image-and-text-module [moduleId]="module.getId()"></app-admin-image-and-text-module>
                }
                @case ("TextAndImageModule") {
                    <app-admin-text-and-image-module [moduleId]="module.getId()"></app-admin-text-and-image-module>
                }
                @case ("TextProjectModule") {
                    <app-admin-text-module [moduleId]="module.getId()"></app-admin-text-module>
                }
                @case ("VideoModule") {
                    <app-admin-video-module [moduleId]="module.getId()"></app-admin-video-module>
                }
            }
        </div>
    }
</div>
