<div class="modal-wrapper">
    <div class="modal-medias" #modalMedias>
        <div class="card">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                Gestionnaire de médias
                <button type="button" class="btn-close" aria-label="Fermer" (click)="onClose()"></button>
            </h5>
            <div class="card-body">
            </div>
        </div>
    </div>

    <div class="modal-medias-overlay" #overlay (click)="onClose()"></div>
</div>
