name: Test de build du front-end

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup nodejs 24
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Build and test
        run: cd frontend/marguerite-protfolio-angular-front && npm ci && npm run build