name: Gradle API test build

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: gradle

      - name: Test and build
        run: cd ./backend/api-marguerite-l-portfollio/ && ./gradlew test
        env:
          GITHUB_AUTH_USERNAME: ${{ github.actor }}
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
