name: Build front docker image

on:
  push:
    branches: [ master ]

jobs:
  build-production-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU (for cross-building)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v6
        with:
          context: frontend/marguerite-protfolio-angular-front
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/funixg/marguerite-l-portfolio-frontend:latest

      - name: Set up kubectl
        uses: azure/k8s-set-context@v4
        with:
          kubeconfig: ${{ secrets.KUBECONFIG }}
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG }}

      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Update Kubernetes Cluster
        run: cd production-kube-env/frontend && chmod +x ./deploy.sh && ./deploy.sh
